{% load compress %}
{% load bootstrap3 %}
<!DOCTYPE html>
<head>
<title>Virtual Microscope</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link rel="apple-touch-icon" href="{{STATIC_URL}}images/nyu_icon_57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}images/nyu_icon_72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}images/nyu_icon_114.png" />
<link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}images/nyu_icon_144.png" />
<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico"/>

{% compress js %}
<script  type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.js"></script>
<script  type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.form.js"></script>
<script  type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/bootbox.min.js"></script>
{% bootstrap_javascript %}
{% endcompress %}

{% block coreheader %}{% endblock coreheader%}

<script type="text/javascript">

	$(document).ready(function() {
	
		//generic new window function
		var windowSizeArray = [ "width=200,height=200","width=700,height=400,scrollbars=yes" ];
		$('.newWindow').click(function (event){
			var url = $(this).attr("href");
			var windowName = "popUp";//$(this).attr("name");
			var windowSize = windowSizeArray[$(this).attr("rel")];
			window.open(url, windowName, windowSize);
			event.preventDefault();
			//example:
			//<a href="http://www.flashmn.com/" rel="0" class="newWindow" >click me</a>
			//<a href="http://www.mnswf.com/" rel="1" class="newWindow" >click me</a>
			});
	
		//generic confirm dialog
		$("a.confirm").click(function(e) {
				e.preventDefault();
				thelink =  $(this).attr('href');
				bootbox.confirm($(this).attr("data-text"), function(result) {
					if (result) {
						window.location=thelink;
					}
				});
			});

		$('.metadata').click(function (event){
			$('#metadatamodal').load('{{URL_ROOT}}/m/'+$(this).attr('id'){%if collectionslide%}+'/{{collectionslide.id}}/'{%endif%}{% if favspage %}+'?f=1'{%endif%});
			$('#metadatamodal').modal('show');
			return false;
		});	

		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
			document.title = 'Virtual Microscope';
			$("a").click(function (event) {
				event.preventDefault();
				window.location = $(this).attr("href");
			});		
		}		
	});
	
	function showmetadata(id){
		$('#metadatamodal').load('{{URL_ROOT}}/m/'+id {%if collectionslide%}+'/{{collectionslide.id}}/'{%endif%}{% if favspage %}+'?f=1'{%endif%});
		$('#metadatamodal').modal('show');	
	}	

</script>

<!-- CSS and Fonts -->
{% compress css %}
{% bootstrap_css %}
<link rel="stylesheet" href="{{STATIC_URL}}js/bootstrap-wysihtml5/bootstrap-wysihtml5.css"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-theme.css"/>
{% endcompress %}
{% block head %}{% endblock head%}
</head>

<body>
{% if messages %}
	{% for message in messages %}
		{% ifchanged message.tags  %}{% if not forloop.first %}</div>{%endif%}{% endifchanged %}					
		{% ifchanged message.tags  %}<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} error_message">{% endifchanged %}
		<a class="close" data-dismiss="alert" href="#">×</a>
		{{ message|safe }}<br>
		{% if forloop.last %}</div>{%endif%}
	{% endfor %}
{% endif %}

{% if not compact %}

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Virtual Microscope</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Collections <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
  </div><!-- /.navbar-collapse -->
</nav>

{% endif %}
<div class="{% block layout%}container{% endblock layout%}">
	{% block content %}{% endblock content%}
	<footer class="footer">
	</footer>	
</div>
{% block slideviewer %}{% endblock slideviewer%}
<div id="metadatamodal" class="modal hide" data-backdrop="true" style="max-height: 800px;"></div>
</body>
</html>
