{% extends "includes/base.html" %}
{% load leaflet_tags %}
{% block head %}

{% leaflet_js %}
{% leaflet_css %}

{% if user.is_authenticated %}
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-wysihtml5/wysihtml5-0.3.0_rc2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
{% endif %}

<script type="text/javascript">
	{% include "js/map_functions.js" %}
</script>

{% endblock %}
{% block layout%}none{% endblock layout%}
{% block content %}
{% if user.is_authenticated %}	
<div id="linktoview" class="modal hide">
	<div class="modal-header"><a class="close" data-dismiss="modal">×</a><h3>Share this slide</h3></div>
	<div class="modal-body" id="">
	<h4>Link to current view <small><br>right click and 'copy shortcut' to copy it to your clipboard</small></h4>
	<span id="linktoviewbody"></span><br><br>

	<a class="btn btn-default" id="emaillink" href="#"><i class="icon-envelope"></i> Email this link</a>

	{% if user.is_authenticated %}		
		<hr>
		<h4><a href="#" onclick="javascript:$('#saveviewform').toggle();">Save View to Favorites</a><br><small>Save the current view (x, y, and zoom) to your Favorites collection.</small></h4>
		<div class="hide" id="saveviewform">
		Title for this view: <input type="text" class="span2" id="viewtitle">
		<input type="button" name="submit" value="Save!" id="submit" class="btn btn-primary  btn-mini" onclick="javascript:addviewtofavs($('#viewtitle').val());"/>
		<a href="#" class="btn btn-default btn-mini" onclick="javascript:$('#saveviewform').hide();">Cancel</a>
		</div>
	{% endif %}
		<hr>
		<p><h4><a href="#" onclick="javascript:$('#embedform').toggle();">Embed</a><br><small>Embed a VM slide in another website, lab manual, and more.</small></h4>
		<div class="hide" id="embedform">
			Copy and paste the embed code below.
			<textarea class="span5"><iframe width="640" height="400" src="{{URL_ROOT}}/v/{{collectionslide.id}}/compact/" frameborder="0"></iframe></textarea>
		</div>		
		</p>	
	</div>
	<div class="modal-footer">	<a href="#" class="btn" data-dismiss="modal">Close</a></div>
</div>
{% endif %}

<div class="subnav">
	<div class="pull-right" style="margin-right:5px;">
		{% if not compact %}
			{% if collectionslide.relateslides %}
			<a class="subnavlink dropdown">
				<a href="#"  class="dropdown-toggle"  data-toggle="dropdown">Related slides<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{URL_ROOT}}/viewer/{{r.id}}/">{{r}}</a></li>					
				</ul>
			</a>
			{%endif%}
		{%else%}
			{% if collectionslide %}
				<a class="subnavlink" href="{{URL_ROOT}}/v/{{collectionslide.id}}/">View full version</a>
			{%endif%}	
		{%endif%}
	</div>
</div>
{%endblock%}

{% block slideviewer %}

{% leaflet_map "map" %}

<script>
        window.addEventListener("map:init", function (e) {
          var detail = e.detail;
          
          slideUrl = '{{ slide.url }}/{z}/{x}_{y}.jpeg'
          
          slide = L.tileLayer(slideUrl, {
            attribution: 'Images &copy; their creators; All Rights Reserved.',
            minZoom: 10,
            maxZoom: 16,
            noWrap: true,
            errorTileURL: '{{STATIC_URL}}images/blank.jpeg'
		  });
    
          detail.map.addLayer(slide);
          detail.map.setView(new L.LatLng(85.03,-179.6), 11);
        }, false);		
        
    
</script>

{% endblock %}
